/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 24, 2024, 9:10:41 PM
    Author     : Tran Tran
*/


body {
    background-color: lightgrey;
}


img {
    border-radius: 50%;
}

h1{
    color: green;
}
.nav{
    background-color: grey;
    overflow: hidden;
}

.nav a{
    float: right;
    color: green;
    text-align: center;
    padding:20px 20px;
    text-decoration: none;
    font-size:17px;
   
}

#home{
    float:left;
    
}

.nav a:hover{
    background-color:green;
    color:grey;
}

.nav a.active{
    background-color: grey;
    color:light green;
}
